[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
alembic = "*"
asyncpg = "*"
orjson = "*"
dependency-injector = "*"
greenlet = "*"
sqlalchemy = "*"

[dev-packages]
pytest = "*"
httpx = "*"
pytest-asyncio = "*"
black = "*"
mypy = "*"
ipython = "*"
flake8 = "*"
flake8-import-order = "*"

[requires]
python_version = "3.11"
